<!-- 댓글 목록 -->
<div th:fragment="comment-view">
    <div> 시발 좀 되라!</div>
<!--    <div id="commentTable">-->
        <div th:each="comment:${commentList}">
            <div th:text="${comment.text}"></div>
            <!--        <form method="POST">-->
            <!--                <span><button type="submit" name="submit" value="update">수정</button></span>-->
            <!--                <span><button type="submit" name="submit" value="delete">삭제</button></span>-->
            <!--        </form>-->
        </div>
<!--    </div>-->
</div>