<!-- 작성란&버튼 -->
<div th:fragment="comment-write" xmlns="">
    <script src="/js/Comment.js"></script>
    <script>
        $(document).ready(function () {
            $('#content').on('keyup', function () {
                $('#test_cnt').html("(" + $(this).val().length + " / 100)");

                if ($(this).val().length > 100) {
                    $(this).val($(this).val().substring(0, 100));
                    $('#contetn_cnt').html("(100 / 100)");
                }
            });
        });
    </script>
    <div class="p-3 row border border-success border-2 rounded">
        <div class="col-lg-2">
            <div  th:text="${loginMember.nickname}"></div>
            <div id="test_cnt">(0 / 100)</div>
        </div>
        <div  class="col-lg-9">
            <form method="POST" id="commentForm">
                <!-- hidden 영역 -->
                <input type="hidden" id="writerId" name="writerId" th:value="${loginMember.id}">
                <!-- 입력 영역 -->
                <textarea placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 운영원칙 및 관련 법률에 제재를 받을 수 있습니다.
Shift+Enter 키를 동시에 누르면 줄바꿈이 됩니다." style="width:100%" id="content" name="content"></textarea>
                <input type="button" class="btn btn-success" onclick="commentDataSend()" value="댓글 등록">
            </form>
        </div>
    </div>

</div>