<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--전체 레이아웃 기본 폼입니다-->
<!DOCTYPE html>
<head th:replace="fragments/header.html :: common_head('오늘의 술상')"></head>
<body>
<div th:replace="fragments/top.html :: top"></div>
<div th:replace="fragments/top.html :: nav"></div>
<!--콘텐츠 시작-->
<div class="container w-50 mx-auto">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form  th:object="${member}" method="post">
        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" class="form-control" th:field="*{loginId}">
            <div class="field-error" th:errors="*{loginId}">로그인 ID 에러</div>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" class="form-control" th:field="*{password}">
            <div class="field-error" th:errors="*{password}">패스워드 에러</div>
<!--            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">복합 에러 메세지</p>-->
        </div>
        <div>
            <label for="name">닉네임</label>
            <input type="text" id="name" class="form-control" th:field="*{nickname}">
            <div class="field-error" th:errors="*{nickname}">닉네임 에러</div>
        </div>
        <div>
            <label for="name">이메일</label>
            <input type="text" id="email" class="form-control" th:field="*{email}">
            <div class="field-error" th:errors="*{email}">이메일 에러</div>
        </div>
        <div>
            <label for="name">이메일 확인</label>
            <input type="text" id="email" class="form-control" th:field="*{emailConfirm}">
            <div class="field-error" th:errors="*{emailConfirm}">이메일 확인 에러</div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{'/board/list'}'|"
                        type="button">취소
                </button>
            </div>
        </div>

    </form>
</div>
<!--콘텐츠 끝-->
<footer th:replace="fragments/footer.html :: footer"> 레이아웃 푸터
</footer>
</body>
</html>
