<footer class="container" th:fragmemt="footer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <style>
        .b {
            font-weight: bold;
        }

        .f {
            font-family: 'Do Hyeon', sans-serif
        }
    </style>
    <div class="row justify-content-start mt-5 border-top">
<!--        <h3 class="col-md-auto b  mt-5">Contact :</h3>-->
<!--        <h4 class="col f mt-5">paperfrog@naver.com</h4>-->
        <h5 class="col f mt-5">(주)영한| 대표자: 위진원 | 사업자번호: 2066-6373 </h5>
    </div>
    <div class="row justify-content-start ml-3">
<!--        <h3 class="col-md-auto b ">Github :</h3>-->
<!--        <h4 class="col f">https://github.com/paperfrog1228</h4>-->
    </div>
</footer>