<!--debug 용 css , utf-8-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">">
<meta charset="utf-8">
<!-- debug 용 끝 -->

<!-- 제일 윗 부분. 로고 + (로그인 버튼 or 로그인 된 사용자 이름)-->
<!-- 모델로 받는 세션의 null 여부로 로그인, 비로그인 판단한다 -->
<div th:fragment="top" class="container ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
<style>
  .font-nav{
      font-size: 20px;font-family: 'Do Hyeon', sans-serif;
      color: whitesmoke;
  }
</style>
    <div class="row justify-content-start">
        <div class="col" th:insert="fragments/top.html ::logo"></div>
            <div class="col-md-auto " th:if="${loginMember==null}" th:insert="fragments/top.html :: non_login"></div>
            <div class="col-md-auto"  th:if="${loginMember!=null}" th:insert="fragments/top.html :: login"></div>
        </div>
    </div>
</div>

<!-- 로고 -->
<button class="mr-3" style="padding: 0;border: none;background: none;"
        th:fragment="logo" th:onclick="|location.href='@{/}'|" >
    <img  src=/img/logo.gif style="height: 5rem;width: auto;">
</button>

<!-- 비로그인 시 -->
<div class="lign-self-end ml-3"; th:fragment="non_login">
    <button th:onclick="|location.href='@{/user/login/}'|" class="btn lg btn-success"  a> 로그인
    </button>
</div>

<!-- 로그인 했을 경우 -->
<div class=" align-self-end ml-3" th:fragment="login">
    <h2 style="font-family: 'Do Hyeon', sans-serif;" th:text="| ${loginMember.nickname} 님 오늘도 한 잔 하시나요!|"></h2>
</div>

<!-- 네비게이션 바-->
<nav th:fragment="nav" class="navbar navbar-dark navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-light bg-success" style="height: 50px">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-75" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active font-nav" aria-current="page" th:href="@{/board/list}">술상</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link font-nav " th:href="@{/board/notice}">공지사항</a>
                </li>
            </ul>
        </div>
    </div>
</nav>